.description {
    width: 100%;
    font-family: var(--primary-font);
}

.text-content {
    width: 60%;
    text-align: left;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 20px;
}

h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondary-color);
    line-height: 1.5;
}

.image-content {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
}

.profile-pic {
    width: 250px;
    height: 400px;
    border-radius: 5%;
    object-fit: cover;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin-right: 15px;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--primary-color);
}

.name {
    color: var(--link-color);
    font-weight: 600;
}