.footer {
    border-top: 2px solid var(--tertiary-color);
    padding: 20px 0;
    text-align: center;
    height: 10%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.page-content {
    min-height: 5vh;
}