#projects {
    max-width: 1200px;
    margin: 0 auto;
  }
  
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
  
.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  height: 100%;
}
  
.project-card:hover {
  transform: translateY(-5px);
}
  
.project-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
  
.project-card p {
  margin-bottom: 15px;
}
  
.project-images {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
  
.project-images img {
  width: 100%;
  max-width: 150px;
  border-radius: 5px;
}
  
.project-card a {
  display: inline-block;
  margin-top: auto;
  padding: 10px 20px;
  background-color: var(--link-color);
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}
  
.project-card a:hover {
  background-color: #109182;
}
  